In [1]:
import numpy as np
import pandas as pd

出典：ヤフー・データソリューション（ https://ds.yahoo.co.jp/report/ , 2020/04/10）

元データはエクセル形式なので、csvに変換して使用する。  
シートごと（月ごと）に分けてcsv化したものを一つにまとめる。

In [33]:
data_02 = pd.read_csv('東京23区推移0409_2月.csv')
data_03 = pd.read_csv('東京23区推移0409_3月.csv')
data_04 = pd.read_csv('東京23区推移0409_4月.csv')

data_all = pd.concat([data_02, data_03.iloc[:, 2:], data_04.iloc[:, 2:]], axis=1)

In [35]:
data_all.head()

,エリア,対象分類,2月1日,2月2日,2月3日,2月4日,2月5日,2月6日,2月7日,2月8日,...,3月30日,3月31日,4月1日,4月2日,4月3日,4月4日,4月5日,4月6日,4月7日,4月8日
0,東京23区全体,全体,10485000,10164000,11676000,11687000,11659000,11690000,11691000,10471000,...,11393000,11388000,11288000,11263000,11256000,10021000,9737000,11212000,11104000,10859000
1,NaN,住人,8921000,8921000,8921000,8921000,8921000,8921000,8921000,8921000,...,8949000,8949000,8924000,8924000,8924000,8924000,8924000,8924000,8924000,8924000
2,NaN,来訪者,1564000,1243000,2755000,2766000,2738000,2769000,2770000,1550000,...,2444000,2439000,2364000,2339000,2332000,1097000,813000,2288000,2180000,1935000
3,千代田区,全体,454900,356900,1028900,1039900,1031900,1043900,1041900,453900,...,857000,855000,819500,802500,791500,266500,195500,775500,731500,624500
4,NaN,住人,54900,54900,54900,54900,54900,54900,54900,54900,...,56000,56000,55500,55500,55500,55500,55500,55500,55500,55500

エリア、対象分類をMultiIndexとして整理。

In [36]:
data_all.fillna(method='ffill', inplace=True)

data_all.set_index(['エリア', '対象分類'], inplace=True)

出力

In [43]:
data_all.to_csv('tokyo_0409.csv', index=True, header=True)

In [46]:
data_all.head(7)

                  2月1日      2月2日      2月3日      2月4日      2月5日      2月6日  \
エリア     対象分類
東京23区全体 全体    10485000  10164000  11676000  11687000  11659000  11690000
        住人     8921000   8921000   8921000   8921000   8921000   8921000
        来訪者    1564000   1243000   2755000   2766000   2738000   2769000
千代田区    全体      454900    356900   1028900   1039900   1031900   1043900
        住人       54900     54900     54900     54900     54900     54900
        来訪者     400000    302000    974000    985000    977000    989000
中央区     全体      441000    367000    849000    857000    852000    861000

                  2月7日      2月8日      2月9日     2月10日  ...     3月30日     3月31日  \
エリア     対象分類                                          ...
東京23区全体 全体    11691000  10471000  10149000  11523000  ...  11393000  11388000
        住人     8921000   8921000   8921000   8921000  ...   8949000   8949000
        来訪者    2770000   1550000   1228000   2602000  ...   2444000   2439000
千代田区    全体     1041900    453900    356900    958900  ...    857000    855000
        住人       54900     54900     54900     54900  ...     56000     56000
        来訪者     987000    399000    302000    904000  ...    801000    799000
中央区     全体      863000    440000    370000    793000  ...    733000    728000

                  4月1日      4月2日      4月3日      4月4日     4月5日      4月6日  \
エリア     対象分類
東京23区全体 全体    11288000  11263000  11256000  10021000  9737000  11212000
        住人     8924000   8924000   8924000   8924000  8924000   8924000
        来訪者    2364000   2339000   2332000   1097000   813000   2288000
千代田区    全体      819500    802500    791500    266500   195500    775500
        住人       55500     55500     55500     55500    55500     55500
        来訪者     764000    747000    736000    211000   140000    720000
中央区     全体      701000    691000    684000    307000   256000    675000

                  4月7日      4月8日
エリア     対象分類
東京23区全体 全体    11104000  10859000
        住人     8924000   8924000
        来訪者    2180000   1935000
千代田区    全体      731500    624500
        住人       55500     55500
        来訪者     676000    569000
中央区     全体      641000    563000

[7 rows x 68 columns]